[package]
name = "aztec-lint-aztec"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
aztec-lint-core.workspace = true
