[package]
name = "aztec-lint-core"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
serde.workspace = true
blake3.workspace = true
toml.workspace = true

[dev-dependencies]
serde_json.workspace = true
tempfile = "3.13"
